* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: #1D2944;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: #1D2944;
}

.logo-container {
  width: 27%;
  height: 86px;
  margin-bottom: 20px;
}

.logo-container .logo {
  width: 100%;
  height: 100%;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #D22628;
  color: #FFFFFF;
  height: 100px;
  padding: 1rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: 6.5rem;
}

.donate {
  background: #1D2944;
}

.menu li {
  padding: 12px;
}

.menu li:hover {
  background-color: #751e1e;
  border-radius: 4px;
  height: auto;
  width: 100%;
}

.menu > a {
  margin: 0 1rem;
  overflow: hidden;
  text-decoration: none;
  color: #FFFFFF;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #FFFFFF;
  position: absolute;
  height: 2px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media (max-width: 767px) {
  .top-nav {
    height: 46px;
    padding: 3em;
  }
  .logo-container {
    width: 45%;
    height: 28px;
    margin-bottom: 10px;
  }
  .logo-container .logo {
    width: 100%;
    height: 28px;
  }
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 55px;
    left: 45%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .menu li:hover {
    background-color: #D22628;
    border-radius: none;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    width: 120px;
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    border: none;
    height: 45px;
    width: 120px;
    font-size: 2.4rem;
    padding: 5px;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.52);
    text-decoration: none;
    color: #FFFFFF;
  }
  .menu a:hover {
    background-color: #D22628;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #D22628;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .logo-container {
    margin-bottom: 0;
  }
  .logo-container .logo {
    width: 300px;
    height: 90%;
  }
  .top-nav {
    height: 80px;
  }
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 90px;
    left: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
    gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu li:hover {
    background-color: #D22628;
    border-radius: none;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .menu-button {
    width: 50px;
    height: 4px;
    margin-bottom: 15px;
  }
  .menu-button::after {
    height: 4px;
    width: 50px;
    margin-top: 12px;
  }
  .menu-button::before {
    height: 4px;
    width: 50px;
    margin-top: 24px;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    width: 120px;
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    border: none;
    height: 60px;
    width: 180px;
    font-size: 4rem;
    padding: 5px;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.52);
    text-decoration: none;
    color: #FFFFFF;
  }
  .menu a:hover {
    background-color: #D22628;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #D22628;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: #1D2944;
}

main {
  background-color: #1D2944;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.inactive {
  display: none;
}

.main-agenda-container {
  width: 100%;
  background-color: #FFFFFF;
  margin: 0 auto;
  height: 570px;
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 28px;
}

.agenda-main-link {
  text-decoration: none;
  margin: 0 auto;
}

.read-more-button {
  color: #FFFFFF;
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif;
  background-color: #D22628;
  width: 162px;
  height: 35px;
  padding: 7px;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 959px) {
  .title-bicolor {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .title-bicolor img {
    width: 300px;
  }
  .main-agenda-container {
    height: 1200px;
  }
  .main-agenda-container img {
    width: 600px;
  }
  .read-more-button {
    width: 300px;
    height: 60px;
    font-size: 2.8rem;
  }
}
@media (min-width: 960px) {
  .title-bicolor img {
    width: 350px;
    height: 80px;
  }
  .main-agenda-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-agenda-container img:nth-child(1) {
    display: none;
  }
  .main-agenda-container img:nth-child(2) {
    display: block;
    max-width: 700px;
    height: 100%;
  }
  .main-agenda-container img:nth-child(3) {
    width: 40%;
    height: 90%;
    margin-left: 10%;
  }
  .agenda-main-link {
    position: relative;
    top: -6%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 100%;
  }
  .read-more-button {
    color: #FFFFFF;
    font-size: 3.8rem;
    font-family: "Oswald", sans-serif;
    background-color: #D22628;
    width: 262px;
    height: 65px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: #1D2944;
}

.timeline {
  padding: 10px;
}
.timeline .timeline-title {
  text-align: center;
  margin: 25px 0;
}
.timeline iframe {
  border-radius: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: #1D2944;
}

.shop-container {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  text-align: center;
  color: #FFFFFF;
  padding: 28px 0 2px 0;
  margin-top: 10%;
}

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__track-container {
  background-color: #D22628;
  height: 100%;
  position: relative;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50px;
  width: 50px;
}

.carousel__button img {
  width: 50px;
  height: 50px;
}