include mixins
include head-agenda
body 
    +articles('https://i.postimg.cc/sxm84pQN/abortion.png', 'ABORTION', 'Little Dic Ron believes that all Floridians should follow his church’s moral dictates – whether they like it or not. Abortion is exhibit A. The radical governor favors banning abortion at 6 weeks. This is a sectarian position that rams his religion down the throats of all women and forces them to give birth against their will.','“Wow,” said Amy Tarkanian, a former chair of the Republican Party in Nevada, where DeSantis traveled to promote his political future. “A lot of people don’t even know', 'agenda.html', 'Read More+')
