include head-index
include header
.main-container
    .image-container
        img(src="https://i.postimg.cc/4yrbhZWf/about1.webp", alt="")
    article.text-container 
        h1 Ron DeSantis: The Rise of an <strong id="American_fascist">American Fascist</strong>
        span.about_little__cite 
        <strong class="comi_1">“</strong>is the most selfish person I have ever interacted with. He has always loved embarrassing and humiliating people. I’m speaking for others—he was the biggest dick we knew.<strong class="comi_2">”</strong>
        h2 -- Former Yale Baseball Teammate of Ron DeSantis
        p The carefully crafted image of Little Dic Ron as a winner is an illusion and his portrayal as a fighter a PR gimmick concocted by his handlers. The real Ron DeSantis is a phony, a coward and a thin-skinned, authoritarian bully that threatens Florida’s stability and America’s democracy.
        p Ron DeSantis grew up in Florida but appears to be ashamed of his home state. In Little Dic’s recently published book, the governor disrespected fellow Floridians when 
            a(href="https://www.washingtonpost.com/politics/2023/03/21/desantis-trump-florida-ohio/") he wrote
        cite “I was geographically raised in Tampa Bay, but culturally my upbringing reflected the working-class communities in western Pennsylvania and northeast Ohio — from weekly church attendance to the expectation that one would earn his keep.”  
        p In response to DeSantis’ insincerity and undisguised pandering, 
            a(href="https://www.heraldtribune.com/story/news/politics/2023/03/20/ron-desantis-florida-governor-book-passage-on-midwest-upbringing-mocked/70029710007/") critics pounced.</a> State Rep. Anna Eskamani, an Orlando Democrat, tweeted:"I was geographically raised in Orlando with a cultural perspective that allows me to easily detect BS when I see it."<br><br>Former Florida Republican Congressman David Jolly <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Pretty odd and offensive statement here from DeSantis to his Tampa Bay constituents.<br><br>Sometimes untested politicians just try too hard. <a href="https://t.co/BhD5t7LT98">https://t.co/BhD5t7LT98</a></p>&mdash; David Jolly (@DavidJollyFL) <a href="https://twitter.com/DavidJollyFL/status/1637495376604217344?ref_src=twsrc%5Etfw">March 19, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                cite “Pretty odd and offensive statement here from DeSantis to his Tampa Bay constituents. Sometimes untested politicians just try too hard.”
            p Although DeSantis play acts the role of a backwoods rube, he went to Yale University and Harvard Law School – where he received an education on everything except how to use a fork or spoon 
                a(href="https://www.heraldtribune.com/story/news/politics/2023/03/20/ron-desantis-florida-governor-book-passage-on-midwest-upbringing-mocked/70029710007/") while eating.</a><br><br>In one infamous moment, staffers for Little Dic Ron claim he ate chocolate pudding with three fingers. 
            <p>Ron DeSantis left quite an impression on his Yale baseball teammates, with one<a href="https://www.newyorker.com/magazine/2022/06/27/can-ron-desantis-displace-donald-trump-as-the-gops-combatant-in-chief"> telling New Yorker reporter</a> Dexter Filkins:
            </p><br><br>
            <cite>“Ron is the most selfish person I have ever interacted with. He has always loved embarrassing and humiliating people. I’m speaking for others—he was the biggest dick we knew.”
            </cite>
            <p>In between Yale and Harvard, DeSantis taught at a Georgia prep school, where he was best remembered for attending booze-fueled parties with underage girls who were his students, supporting the confederacy during Civil War history classes and accusations of discrimination from a black student. Little Dic Ron’s “grooming” period in Georgia is easy to miss, because he often omits it from his resume. We wonder why?
            </p>
            <p>  Little Dic Ron seems to have a man-crush on Tom Cruise, branding himself as a Top Gun fighter pilot at every opportunity.
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I thought Ron Desantis put out the cheesiest ad of the 2018 election cycle. He beat it this year. <a href="https://t.co/VndYWqN52Q">pic.twitter.com/VndYWqN52Q</a></p>&mdash; Ron Filipkowski (@RonFilipkowski) <a href="https://twitter.com/RonFilipkowski/status/1561878217551667200?ref_src=twsrc%5Etfw">August 23, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><p>DeSantis did serve in the Navy, but instead of a dog fighting pilot, he was a deputy urinalysis coordinator,</p><blockquote class="twitter-tweet"><p lang="en" dir="ltr">This is really gonna piss off Ron DeSantis. <a href="https://t.co/o89DFurILA">https://t.co/o89DFurILA</a></p>&mdash; Lauren Windsor (@lawindsor) <a href="https://twitter.com/lawindsor/status/1633511478400622592?ref_src=twsrc%5Etfw">March 8, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
                    <p>collecting pee samples from actual warriors. While in the Navy, DeSantis was accused of watching a prisoner<a href="https://www.independentespanol.com/?utm_source=redirect">being tortured</a> while standing by and doing nothing:
                    </p>
                    <cite>“He was watching, and I was really screaming, crying,” Mansoor Adayfi, a Yemeni, tells The Independent in a lengthy video interview from his home in Belgrade. “I was bleeding and throwing up. We were in the block yard, so they were close to the fence.”
                    </cite>
                    <p>To overcompensate for his inner-coward, DeSantis poses and preens as a fighter anointed by God to slay “the woke” but seems to be chronically asleep when confronted by worthy political opponents. Washington Post columnist Jennifer Rubin <a href="https://www.independentespanol.com/?utm_source=redirect">succinctly capture</a> the true essence of Ron DeSantis’ cowardice:
                    </p>
                    <cite>During his governorship, DeSantis’s fights have been against politically weaker people: schoolchildren, LGBTQ youths, schoolteachers, African American historians and ex-prisoners. Even his tussle with Disney was against a corporation that couldn’t very well pick up and leave the state. One might say DeSantis is out of practice, but in fact he has never had to face off against someone of equal or greater political heft. And now, up against a bigger bully [Trump], he looks overwhelmed…Because DeSantis has no other real successes, his emphasis on the culture wars is unlikely to sway voters.
                    </cite>
                    <p>In 2012, Ron DeSantis was first elected to Congress and joined the radical House Freedom Caucus. With his right wing political soulmates, he worked feverishly<a href="https://democrats.org/news/ron-desantis-reunites-with-the-house-freedom-caucus/"> to cut</a> Social Security and Medicare, while raising the retirement age. At the time he was quoted by<a href="https://www.washingtonpost.com/politics/2023/02/09/trump-desantis-biden-social-security-medicare/"> The Washington Post</a> on his extreme views.
                    </p>
                    <cite>“I support what Ryan is trying to do in terms of reforming entitlements,” DeSantis said in a<a href="https://www.staugustine.com/story/news/local/2012/08/05/2012-08-04-41/16168991007/">  2012 newspaper questionnaire.</a> “It’s not a voucher, it’s premium support.”
                </cite>
                <p>While Little Dic Ron depicts himself as ultra-MAGA, Donald Trump<a href="https://www.politico.com/newsletters/florida-playbook/2023/03/14/trump-escalates-his-battle-with-desantis-00086915"> believes </a>that DeSantis is a protean politician who is a “disciple” of “RINO loser” Paul Ryan. In 2012. David Bergstein, spokesman for the Florida Democratic Party, shared Trump’s view of DeSantis, telling the<a href="https://www.jacksonville.com/story/news/politics/2012/08/17/politijax-democrats-try-tie-ron-desantis-paul-ryans-budget-plan/15857200007/"> Florida Times Union:</a>
                </p>
                <cite>"Ron DeSantis has already made it clear that he supports the same policies of Paul Ryan which would hurt Florida's middle-class families and end Medicare as we know it."</cite>
                <p>It’s unclear what’s scarier: Ron DeSantis the soulless opportunist who will say anything to achieve power. Or Ron DeSantis the intolerant, true believing zealot who thinks that he is entitled to rule by brute force or fiat.
                </p>
                <p>Despite his Ivy League pedigree, DeSantis hasn’t had an original political idea of his own. Little Dic Ron owes his governorship to Donald Trump and has shamelessly ridden the former president’s coattails ever since, refashioning himself as a mini-Trump.
                </p>
            <p>Nonetheless, DeSantis is ungrateful and poised to challenge the man he has habitually copied as if he were a human Xerox machine. Trump has taken notice and said he regrets endorsing Little Dic Ron against Agriculture Commissioner Adam Putnam in the 2018 primary. Politico reported on their recent feud: 
            </p>
            <cite>“When I endorsed him, the race was indeed over, but it was over for him,” Trump added that Ron was “dead as a dog.”</cite>
            <cite>“Remember this: If it weren’t for me, Ron DeSanctimonious would right now be working probably at a law firm, or maybe a Pizza Hut, I don’t know.”</cite>
            <p>Little Dic Ron hopes moving to the right of Trump will be his ticket to the White House. But his lurch to the political fringe has been so drastic, that DeSantis’ political agenda has become General Election poison. USA Today reports:
            </p>
            <cite><a href="https://es.scribd.com/document/633018504/20230320-yahoo-tabs">A new Yahoo/YouGov poll finds</a> that Americans oppose seven of eight of the policy initiatives<a href="https://es.scribd.com/document/633018504/20230320-yahoo-tabs"> DeSantis spearheaded in Florida,</a> including the six-week abortion ban and prohibiting public colleges and universities from funding programs that promote equity and inclusion.</cite>
            <p>As governor, DeSantis has focused on culture war issues to deflect from his horrendous economic record. On DeSantis’ watch, Florida has become unaffordable for working families. LuLu Garcia-Navarro described the dire situation in <a href="https://www.nytimes.com/2023/01/12/opinion/desantis-florida-income-inequality.html?smid=nytcore-ios-share&referringSource=articleShare"> The New York Times:</a>
            </p>
            <cite>Florida is not a model for the nation, unless the nation wants to become unaffordable for everyone except rich snowbirds. Most of those flocking there are aging boomers with deep pockets.</cite>
            <cite>While Mr. DeSantis has been busy limiting what can be taught in schools, flying immigrants to Northern states and punishing “woke” Disney, working-class Floridians are being priced out of many Florida cities.</cite>
            <cite><a href="https://www.cnbc.com/2022/12/29/least-affordable-housing-market-us-realtyhop-december-housing-index.html"> Miami</a> now surpasses Los Angeles and New York City as the least-affordable city for housing in the United States. Miami is also second in<a href=https://www.miamiherald.com/news/local/community/miami-dade/article229441144.html> income inequality</a>, with levels roughly comparable with Colombia’s and Panama’s.</cite>
            <p>DeSantis wants his blue-collar voters to focus on “owning the libs”, because he doesn’t want them to realize they can no longer afford to own homes. Property insurance is also<a href=https://www.miamiherald.com/news/local/community/miami-dade/article229441144.html> unaffordable</a>, with 13% of all Florida homeowners carrying no property insurance, nearly double the national average of 7%. DeSantis is a master of the old Republican trick of throwing red meat to distract from reality. Given how poorly DeSantis has run Florida, who can blame him?
            </p>

            <p>Little Dic Ron’s image is based on the illusion that he’s an organized politician who gets things done.  In an interview with television host Piers Morgan, DeSantis differentiated himself from Donald Trump by saying that he is a leader who likes to “put points on the board”.
            </p>

            <p>Yet, in his losing battle with Disney, DeSantis was badly outwitted by Mickey Mouse. Los Angeles Times columnist Michael Hitlzik <a href=https://www.miamiherald.com/news/local/community/miami-dade/article229441144.html>scored the fight</a> “DeSantis 0, Disney everything else”. So much for putting points on the board.
            </p>

            <p>Hitlzik, of course, was referring to DeSantis’ vindictive move to strip Disney of its ability to run its own affairs. Little Dic Ron was enraged because Disney spoke out against his “Don’t Say Gay” law. DeSantis retaliated by instructing his rubber stamp Politburo in Tallahassee to dissolve the Reedy Creek Improvement District. This was the entity that Florida established more than 55 years ago so Disney could manage its own properties. Immediately after his hostile takeover, Little Dic Ron handpicked a new board of right-wing cronies to run Disney’s affairs. According to the Los Angeles Times:
            </p>
            <p>A humiliated DeSantis swiftly unleashed the full power of the state government on Disney, demanding that <a href="https://www.orlandosentinel.com/2023/04/03/desantis-asks-for-probe-of-disney-reedy-creek-agreements/"> Florida’s chief inspector general launch an investigation</a> Disney <a href="https://www.sun-sentinel.com/2023/04/03/iger-vows-17b-disney-world-expansion-calls-desantis-anti-business/"> CEO Bob Iger responded by calling</a> DeSantis “anti-business” and “anti-Florida”. He said that DeSantis dissolved Reedy Creek “in effect to seek to punish a company for its exercise of a constitutional right.”
            </p>

            <p>This epic failure, and foolishly picking a vanity fight with Florida’s largest taxpayer, highlights Little Dic Ron’s incompetence and managerial ineptitude. DeSantis has a glass jaw and habitually folds every time he is confronted with a worthy opponent. When the governor first hijacked Disney’s board he smugly declared, “There’s a new sheriff in town.” It turns out that the sheriff is Barney Fife.<br>Right about now you might be asking: If Ron DeSantis is such a loser why are you wasting so much time pointing out his fatal flaws? Won’t he flame out on his own?<br>The answer is simple: Donald Trump is in constant legal jeopardy, so DeSantis has an outside chance to win the GOP nomination. Any Party nominee is all but guaranteed nearly half the vote in a General Election. With America so politically polarized, even a faulty candidate like Little Dic Ron can end up occupying the White House.
            </p>
            <p>We must also pay attention because of DeSantis’ unquestionable despotic tendencies and contempt for the rule of law. After Trump was indicted in New York, Little Dic Ron tweeted that the indictment was “un-American” and declared that “Florida will not assist in an extradition request” for Trump. Conservative New York Times columnist David French<a href="https://www.nytimes.com/2023/03/31/opinion/trump-indictment-rule-of-law.html?smid=nytcore-ios-share&referringSource=articleShare"> opined:</a>
            </p>

            <cite>DeSantis’s statement was a shot at our constitutional order. Governors don’t have the constitutional authority to block extradition requests from other states. Article IV of the Constitution contains an  <a href="https://constitution.congress.gov/browse/essay/artIV-S2-C2-1/ALDE_00013632/">extradition clause</a>, which declares that when a person charged with a crime is “found in another state,” then he or she “shall” be “delivered up” and “removed” to “the state having jurisdiction of the crime.”</cite>

            <p>We’ve made a compelling case that DeSantis is a threat to America and unfit to serve in public office. However, Donald Trump is equally unworthy and that did not stop him from becoming President of the United States. We must pull the alarm now, lest this unhinged, dictatorial fascist win the presidency and bequeath America the same ruinous shambles that he will certainly leave behind in Florida.
            </p>
    a.agenda-main-link(href="/HTML/index.html")
        .read-more-button2 Read More+
include footer
    