doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS/components/agenda.css")
        title Agenda
    body 
        include header.pug
        section.agenda 
            main
                .title-container 
                   img(src="/assets/icons/title.svg", alt="itle little dic ron agenda")
                .main-container 
                    img.agenda-image(src="https://i.postimg.cc/qvf64LxR/Dictator-Movie.webp", alt="Ron Desantis as dictator")
                    img.agenda-note(src="/assets/images/note.svg", alt="")
                .galery-container
                    a(href="/HTML/components/abortion.html")
                        img.galery-items(src="https://i.postimg.cc/yYFYjJ9f/card-1.webp", alt="")  
                    a(href="/HTML/components/anti-semitism.html")
                        img.galery-items(src="https://i.postimg.cc/kgsMrkTK/card-2.webp", alt="") 
                    a(href="/HTML/components/business-busybody.html")
                        img.galery-items(src="https://i.postimg.cc/25XzynR5/card-4.webp", alt="")
                    a(href="/HTML/components/censorship.html")
                        img.galery-items(src="https://i.postimg.cc/50YfCjbS/Card-5.webp", alt="") 
                    a(href="/HTML/components/crime.html")
                        img.galery-items(src="https://i.postimg.cc/2ydRQZJh/card-16.webp", alt="")     
                    a(href="/HTML/components/destroying-democracy.html") 
                        img.galery-items(src="https://i.postimg.cc/tJFyBf11/card-6.webp", alt="")
                    a(href="/HTML/components/eating-habits.html") 
                        img.galery-items(src="https://i.postimg.cc/G3Dc3BMc/card-7.webp", alt="")
                    a(href="/HTML/components/education-abyss.html") 
                        img.galery-items(src="https://i.postimg.cc/sDR3MV85/Card-8.webp", alt="")
                    a(href="/HTML/components/god-complex.html") 
                        img.galery-items(src="https://i.postimg.cc/6pWwhMB3/card-9.webp", alt="")
                    a(href="/HTML/components/groomer-ron.html")
                        img.galery-items(src="https://i.postimg.cc/RZgmpw0T/card-10.webp", alt="")
                    a(href="/HTML/components/immigration.html")
                        img.galery-items(src="https://i.postimg.cc/66CXJk3q/Card-15.webp", alt="")  
                    a(href="/HTML/components/healthcare-and-covid.html") 
                        img.galery-items(src="https://i.postimg.cc/Gp9CW98n/card-11.webp", alt="")
                    a(href="/HTML/components/lgbtq-obsession.html") 
                        img.galery-items(src="https://i.postimg.cc/TPS6fGgL/card-12.webp", alt="")
                    a(href="/HTML/components/license-to-kill.html")
                        img.galery-items(src="https://i.postimg.cc/wBBq90rP/card-3.webp", alt="") 
                    a(href="/HTML/components/rons-racism.html")
                        img.galery-items(src="https://i.postimg.cc/KzMyYVD9/card-13.webp", alt="")
        include footer
        