doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS/components/agenda.css")
        title Agenda
    body 
        include header.pug
        section.agenda 
            main
                .title-container 
                   img(src="/assets/icons/title.svg", alt="itle little dic ron agenda")
                .main-container 
                    img.agenda-image(src="https://i.postimg.cc/MpSCdW62/agenda-main.png", alt="Ron Desantis as dictator")
                    img.agenda-note(src="/assets/images/note.svg", alt="")
                .galery-container
                    a(href="/HTML/components/abortion.html")
                        img.galery-items(src="https://i.postimg.cc/ncqzwgwT/Card-1.png", alt="")  
                    a(href="/HTML/components/anti-semitism.html")
                        img.galery-items(src="https://i.postimg.cc/vmTKs970/Card-2.png", alt="") 
                    a(href="/HTML/components/business-busybody.html")
                        img.galery-items(src="https://i.postimg.cc/sDhCpfPx/Card-4.png", alt="")
                    a(href="/HTML/components/censorship.html")
                        img.galery-items(src="https://i.postimg.cc/pLMbkNkZ/Card-5.png", alt="") 
                    a(href="/HTML/components/crime.html")
                        img.galery-items(src="https://i.postimg.cc/g09bRVzB/Card-16.png", alt="")     
                    a(href="/HTML/components/destroying-democracy.html") 
                        img.galery-items(src="https://i.postimg.cc/WpKPFqkx/Card-6.png", alt="")
                    a(href="/HTML/components/eating-habits.html") 
                        img.galery-items(src="https://i.postimg.cc/ydpCTkrg/Card-7.png", alt="")
                    a(href="/HTML/components/education-abyss.html") 
                        img.galery-items(src="https://i.postimg.cc/NFWhWZtQ/Card-8.png", alt="")
                    a(href="/HTML/components/god-complex.html") 
                        img.galery-items(src="https://i.postimg.cc/k5nr3x0R/Card-9.png", alt="")
                    a(href="/HTML/components/groomer-ron.html")
                        img.galery-items(src="https://i.postimg.cc/0QQLr928/Card-10.png", alt="")
                    a(href="/HTML/components/immigration.html")
                        img.galery-items(src="https://i.postimg.cc/W3MK0CWd/Card-15.png", alt="")  
                    a(href="/HTML/components/healthcare-and-covid.html") 
                        img.galery-items(src="https://i.postimg.cc/1tjbqbfD/Card-11.png", alt="")
                    a(href="/HTML/components/lgbtq-obsession.html") 
                        img.galery-items(src="https://i.postimg.cc/Vv0pB4Cp/Card-12.png", alt="")
                    a(href="/HTML/components/license-to-kill.html")
                        img.galery-items(src="https://i.postimg.cc/3Ny5fYPL/Card-3.png", alt="") 
                    a(href="/HTML/components/rons-racism.html")
                        img.galery-items(src="https://i.postimg.cc/kDrZj8N4/Card-13.png", alt="")