doctype html
main 
    .title-bicolor
        img(src="/assets/icons/fascist-agenda.svg", alt="")
    .main-agenda-container 
        img(src="https://i.postimg.cc/434rRBHW/fascist-agenda-main.png", alt="") 
        img.inactive(src="/assets/images/Rectangle 9.png", alt="")
        img(src="/assets/images/agenda-main.svg", alt="")
        a.agenda-main-link(href="/HTML/components/agenda.html")
            .read-more-button Read More+ 