include mixins
include head-agenda
body 
    +articles('https://i.postimg.cc/FRPYL6Fd/antisemitism.png', 'ANTI-SEMITISM', 'Gov. Ron DeSantis is an unmitigated disaster for Florida’s Jewish community. On Ron’s watch, attacks against Jews have skyrocketed. He has presided over an alarming surge that “produced the highest annual number of antisemitic incidents ever recorded in Florida”, according to the Anti-Defamation League’s annual Audit of Antisemitic Incidents.','The ADL found anti-Semitic incidents were “worse in Florida than in the U.S. overall, the third year in a row that the state’s increase outpaced the national increase.” The buck stops with Little Dic Ron. During this', 'agenda.html', 'Read More+')
