include mixins
include head-agenda
body 
    +articles('https://i.postimg.cc/4N4jNFjk/bussines.png', 'BUSINESS BUSYBODY', 'Ron DeSantis won reelection by creating a straw man of socialism encroaching on Florida’s shores. But a closer look at his radical record puts the governor more in line with communist dictators such as Joseph Stalin and the late Fidel Castro.','A key pillar of authoritarian dictatorships and full-blown communist regimes is leveraging immense state pressure to interfere in private business affairs and seizing control of corporate functions in the service of advancing a leaders’ dictatorial political aims','agenda.html', 'Read More+')
