include mixins
include head-agenda
body 
    include header
    +articles('https://i.postimg.cc/4N4jNFjk/bussines.png', 'BUSINESS BUSYBODY', '“Our point on this is that any action…to retaliate for a position the company took, sounds not just anti-business, but it sounds anti-Florida.”','A key pillar of authoritarian dictatorships and full-blown communist regimes is leveraging immense state pressure to interfere in private business affairs and seizing control of corporate functions in the service of advancing a leaders’ dictatorial political aims','agenda.html', 'Read More+')
