include mixins
include head-agenda
body 
    include header
    +articles('https://i.postimg.cc/vT2V6twz/censorship.png', 'CENSORSHIP', 'Florida Republican Gov. Ron DeSantis fired Jacksonville Middle School teacher Brian Covey. The reason for his dismissal? Covey blew the whistle on DeSantis’ War on Books.Covey used his phone to film a viral video of empty school library bookshelves. ','These books are missing because they are being reviewed by zealous right-wing censors. There are roving teams of extremists in Florida called “woke busters” that are hunting school libraries for books to ban. In Duval.','agenda.html', 'Read More+')
