include mixins
include head-agenda
body 
    include header
    +articles('https://i.postimg.cc/QNJRDr4J/destroying-democracy.png', 'DESTROYING DEMOCRACY', 'Little Dic Ron is shorthand for Little Dictator. We have given Florida the moniker “DeSantistan” to highlight how Ron DeSantis mistakenly believes the Sunshine State is his private fiefdom. He acts as though DeSantistan is separate from the rest of America and doesn’t have to follow the United States Constitution. He’s wrong.','Ron DeSantis has repeatedly demonstrated a disdain for democracy. Florida State Sen. Lori Berman articulated this when she pointed out that in DeSantistan, “There is no room for dissent. Not in local governments','agenda.html', 'Read More+')
