include mixins
include head-agenda
body 
    +articles('https://i.postimg.cc/9M3vmXHJ/eating-habits.png', 'EATING HABITS', 'One of the most surreal and head-scratching discoveries about Florida Gov. Ron DeSantis is what the New Yorker politely called his “indifferent table manners.” The Daily Beast wasn’t so circumspect. They reported that DeSantis had a “propensity to devour food during meetings.”','The Daily Beast interviewed a former staffer who said, “He would sit in meetings and eat in front of people, always like a starving animal who has never eaten before… getting shit everywhere.”','agenda.html', 'Read More+')
