include mixins
include head-agenda
body 
    include header
    +articles('https://i.postimg.cc/sgv85GVT/education-abyss.png', 'EDUCATION ABYSS', 'Little Dic Ron is so obsessed with frivolous culture war issues to boost his political career, that he forgets that Florida was ranked as the state with the worst learning rate in America. Students learn 12% less each grade than the national standard. Florida Chamber President and CEO Mark Wilson said only 53 percent of Florida third graders are reading at or above grade level. ','The governor has wrecked K-12 education. A survey by the group We the Parents found teachers leaving Florida at a rate higher than any other states, with 6,000 vacancies statewide, and 61% considering','agenda.html', 'Read More+')