<footer>
    <div class="footer__logo-container"><img class="logo" src="/assets/icons/logo1.svg" alt=""></div>
    <a href="/HTML/components/about-us.html"><div class="about-us__button">About Us </div></a>

    <ul class="footer-grid-redes__1">
        <li><a href="https://www.tiktok.com/@thewaynebesenshow"><img src="/assets/icons/red-1.svg"></a></li>
        <li><a href="https://www.instagram.com/thewaynebesenshow/"><img src="/assets/icons/red-2.svg"></a></li>
        <li><a href="https://www.youtube.com/channel/UCxo2tzg0fYecew5VgShbFTQ"><img src="/assets/icons/red-3.svg"></a></li>  
    </ul> 
    <a href="https:www.LittleDicRon.com "> LittleDicRon@gmail.com</a>
    <cite>Copyright 2023 - www.littledicron.com</cite>

</footer>