include mixins
include head-agenda
body 
    include header
    +articles('https://i.postimg.cc/Xq4m52J5/god-complex.png', 'GOD COMPLEX', 'Florida Governor Ron DeSantis’ released a terrifying ad that portrays a deeply disturbed man with a savior complex. In the ad, he portrays himself as a blunt instrument of God.','This is the most egotistical, self-aggrandizing, quite frankly, dangerous, political ad possibly ever produced. There is nothing scarier than a narcissistic politician who imagines himself a messiah or thinks he’s a prophet. Such thinking is usually associated with deranged cult leaders.','agenda.html', 'Read More+')
