include mixins
include head-agenda
body 
    include header
    +articles('https://i.postimg.cc/7LzWWvJ7/groomer-ron.png', 'GROOMER RON', 'On Truth Social Donald Trump attacked Florida Gov. Ron DeSantis as a “groomer” of young students. The former President showed an incriminating picture, first published by Hill Reporter, of Ron DeSantis surrounded by young high school girls, including one who was holding a beer bottle.','At the time of the photo, DeSantis was a 23-year-old teacher at the Darlington School, a private institution in Rome, Georgia. The photo in question has text over it reading, "Here is Ron DeSanctimonious grooming high school girls with alcohol as a teacher." Trump commented on the photo:','agenda.html', 'Read More+')