<meta name="viewport" content="width=device-width, initial-scale=1">
  nav.top-nav
    .logo-container
       img.logo(src="/assets/icons/logo1.svg", alt="")
    input#menu-toggle(type="checkbox")
    label.menu-button-container(for="menu-toggle")
        .menu-button
    ul.menu
        a(href="") 
            li About
        a(href="") 
            li Agenda
        a(href="")     
            li Donate
        a(href="")     
            li Take Action
        a(href="") 
            li Shop



