nav.top-nav
    .logo-container
        img.logo(src="/assets/icons/logo1.svg", alt="")
    input#menu-toggle(type="checkbox")
    label.menu-button-container(for="menu-toggle")
        .menu-button
    ul.menu
        a(href="/HTML/components/about-us.html") 
            li About
        a(href="/HTML/index.html#agenda-main") 
            li Agenda
        a(href="/HTML/index.html#take-action")     
            li Take Action
        a(href="/HTML/index.html#shop") 
            li Shop
        a.donate(href="https://www.paypal.com/donate/?hosted_button_id=TPBB9QSVVREQE")     
            li Donate