
nav.top-nav
    .logo-container
        img.logo(src="/assets/icons/logo1.svg", alt="")
    input#menu-toggle(type="checkbox")
    label.menu-button-container(for="menu-toggle")
        .menu-button
    ul.menu
        a(href="") 
            li About
        a(href="/HTML/index.html#agenda-main") 
            li Agenda
        a(href="")     
            li Donate
        a(href="")     
            li Take Action
        a(href="") 
            li Shop



