include mixins
include head-agenda
body 
    include header
    +articles2('https://i.postimg.cc/SRgTMkH0/license-to-kill.png', 'LICENSE TO KILL', 'Thanks to the dangerous policies of Gov. DeSantis, what were once routine disagreements among citizens over parking spaces, now degenerate from words to wielding weapons. Florida’s famous Spring Break has gone from fun to fatal, with gunshots piercing the dance music enjoyed by visitors.','Schools are also no longer gun- free, with students smuggling the state’s glut of guns into classrooms.','In this pathological environment, no one is safe from ruinous gun violence, and everyone’s family is at the mercy of armed', 'agenda.html', 'Read More+')
