.shop-container
    h1 SHOP 
    .t-shirt-container 
        img(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
        img(src="https://i.postimg.cc/Kvrqct2w/tshirtB.png", alt="")
        img(src="https://i.postimg.cc/jSx8DCq5/tshirtC.png", alt="")
    a(href="")  
        .buy-button Buy Here 