.shop-container
    h1.title SHOP
    .carousel
        button.carousel__button--left.carousel__button 
            img(src="/assets/icons/Arrow 1.svg", alt="")        
        .carousel__track-container
            ul.carousel__track
                li.carousel__slide.current-slide
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide
                    img.carousel__image(src="https://i.postimg.cc/Kvrqct2w/tshirtB.png", alt="") 
                li.carousel__slide
                    img.carousel__image(src="https://i.postimg.cc/jSx8DCq5/tshirtC.png", alt="") 
        button.carousel__button--rigth.carousel__button
            img(src="/assets/icons/Arrow 2.svg", alt="")

        .carousel__nav 
            button.carousel__indicator.current-slide 
            button.carousel__indicator 
            button.carousel__indicator
    .carousel2
        button.carousel__button--left2.carousel__button
            img(src="/assets/icons/Arrow 1.svg", alt="")        
        .carousel__track-container2
            ul.carousel__track2
                li.carousel__slide2.current-slide2
                    img.carousel__image(src="https://i.postimg.cc/jSx8DCq5/tshirtC.png", alt="") 
                li.carousel__slide2
                    img.carousel__image(src="https://i.postimg.cc/Kvrqct2w/tshirtB.png", alt="") 
                li.carousel__slide2
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide2
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide2
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide2
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide2
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
        button.carousel__button--rigth2.carousel__button
            img(src="/assets/icons/Arrow 2.svg", alt="")

        .carousel__nav2 
            button.carousel__indicator.current-slide2 
            button.carousel__indicator 
            button.carousel__indicator
            button.carousel__indicator 
            button.carousel__indicator 
            button.carousel__indicator 
            button.carousel__indicator 
    .carousel3
        button.carousel__button--left3.carousel__button
            img(src="/assets/icons/Arrow 1.svg", alt="")        
        .carousel__track-container3
            ul.carousel__track3
                li.carousel__slide3.current-slide3
                    img.carousel__image(src="https://i.postimg.cc/jSx8DCq5/tshirtC.png", alt="") 
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/Kvrqct2w/tshirtB.png", alt="") 
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
                li.carousel__slide3
                    img.carousel__image(src="https://i.postimg.cc/mk7dHHFc/tshirtA.png", alt="")
        button.carousel__button--rigth3.carousel__button
            img(src="/assets/icons/Arrow 2.svg", alt="")

        .carousel__nav3 
            button.carousel__indicator.current-slide3 
            button.carousel__indicator 
            button.carousel__indicator
            button.carousel__indicator
            button.carousel__indicator
            button.carousel__indicator
            button.carousel__indicator
            button.carousel__indicator
            button.carousel__indicator
            button.carousel__indicator
            button.carousel__indicator
            button.carousel__indicator
            button.carousel__indicator
            button.carousel__indicator
        script(src="/PUG/components/shop.js") 