include head-index
include header
<body> 
    <div class="main-container">
      <div class="image-container"> <img src="https://i.postimg.cc/1R6Tqzw9/take-action-img1.jpg" alt=""></div>
      <article class="text-container"> 
        <h1>Take Action<strong id="Now_1"> Now</strong></h1>
        <span><strong>“</strong>Remember that you are American citizens, not Ron’s subjects. Fight for your freedom. When Ron DeSantis tells you what you CAN’T SAY – stand up and say it TWICE AS LOUD and proud.<strong>”</strong></span>
        <h2> --Wayne Besen, Activist and Little Dic Ron Co-Creator</h2>


        <p><strong>Resist and Defy:</strong> Florida is not owned by Ron DeSantis. It is not his private fiefdom that he can transform into the authoritarian backwater of DeSantistan. The governor wants Floridians to believe he is all-powerful and that we must follow his illegal orders. DeSantis wants you silenced and submissive – while he hard sells the idea that he calls all the shots.</p>
        
        
        <p> RHe wants you fearful and believing the lie that he can dictate what you say, where you go, how you dress, the way you raise your children, run your company and what you are allowed to think. DeSantis is an Orwellian tyrant who is clearly power-drunk, and it is our duty as residents to sober him up before he does irreversible damage to Florida and the nation.</p>


        <p> Little Dic Ron is not the invincible King of DeSantistan he fancies himself to be. Despite how he portrays himself in blasphemous, self-celebratory campaign ads, DeSantis is not a fighter <a href="https://www.independentespanol.com/?utm_source=redirect"> ordained by God</a> to rule our sun kissed peninsula. He has no authority to deny citizens their basic rights or enforce state-sponsored thought or speech. That’s why many of his signature programs have already been ruled unconstitutional and dystopian.</p>

        <div class="image-container"> <img src="https://i.postimg.cc/WpGQf0WJ/De-Santis-protest-NYC11.webp" alt=""></div>

        <p>Never forget that you are an AMERICAN FIRST and a FLORIDIAN SECOND. You are born with inalienable constitutional rights and protections. Florida is just one state within a larger nation and must abide by the same rules as the other 49 states. When Ron DeSantis breaks the law with unconstitutional orders, you are free to defy and ignore his autocratic decrees.</p>

        <p>When Ron DeSantis tells you what you CAN’T SAY – stand up and say it TWICE AS LOUD and proud. If he tells you how to dress, make sure you wear the outfits he forbids. When the governor tells you what entertainment is permissible, shun him and go to a show that represents your values and views. When he demands that you bow down and speak only in a way pre-approved by the state—tell him to get lost and boisterously express your own opinion. Florida has no right to demand that residents adhere to state-sponsored speech or thought. That would be unamerican.</p>


        <p>Tell Little Dic’ Ron that he is not the King of DeSantistan. Disobey, defy and resist all unconstitutional orders that he commands. There isn’t a damn thing he can do about it.</p>

        <p><strong>Civil Disobedience:</strong> Little Dic Ron expects us to passively take his abuse and smile as he revises history, whittles away our liberties, interferes in our business decisions and insults our families. In the peaceful spirit of Martin Luther King Jr., we can engage in non-violent resistance. Chain yourself to the governor’s desk. Students can stage classroom walkouts. If the governor tries to stop you, call your actions <a href="https://waynebesen.substack.com/p/dont-say-gay-laws-could-be-circumvented"> a student-led prayer</a> and he’s helpless to intervene (Unless he thinks he can now choose your faith too). Boldly confront Little Dic Ron at his stage-managed events. Picket the governor’s mansion and state legislature. The options for resistance are limitless.</p>

        <p>Remember that you are American citizens, not Ron’s subjects. Fight for your freedom. As the saying goes: If not you, then who?” “If not now, then when”?</p>

        <p><strong>Forgo Florida Vacation:</strong> If Florida no longer aligns with your values, find a place to holiday with less hate. Explore Google Maps to discover a wide, diverse world with unlimited vacation options.</p>

        <p>Why spend money in DeSantistan to subsidize minority subjugation? Why pay to support prejudice and share the beach with bigots? Why choose to give your business to a governor who can’t mind his own business?</p>

        <p>There are countless vacation destinations that will treat you and your family with the dignity and respect you deserve. This is the year to exercise your option to explore new holiday hotspots.</p>

        <p>If you elect to take a stand and spend your vacation elsewhere, make sure you record a video or take a picture from your new travel destination. Use social media to tell the world why you opted for a vacation venue other than Florida. Impart to your friends and family members that you won’t return to the Sunshine State until the dark cloud of DeSantis is lifted.</p>

        <p><strong>Cancel Conventions:</strong> An effective way to express your corporate values and show unwavering support for your employees is to schedule your convention in a locale other than Florida. If you already have a convention scheduled in DeSantistan, cancel it and book elsewhere. Doing so will increase brand loyalty and create lifelong customers who appreciate your positive vibes as much as your product. When consumers know what you stand for, they will enthusiastically stand by you. The media coverage generated by businesses and corporations canceling conventions would loosen Little Dic Ron’s grip on the state. It would send a message to voters that there is a price to pay for prejudice.</p>

        <p><strong>Corporate Protest:</strong> Perhaps, you’d like to cancel your company’s DeSantistan convention, but it’s not possible because it’s too late, you can’t break your contract and the deposit is non-refundable. If this is the case, turn your event into a demonstration against Florida’s regressive policies. Use your convention as a pivotal platform to shed light on injustice and promote diversity and equality. Speak out about how Governor DeSantis disrespects business owners by autocratically intruding on their private affairs. Highlight how the state is abusing power and running roughshod over your civil rights.</p>


        <p>If you are a respected business leader, you can make headlines by publicly condemning DeSantis, explaining how his intolerant attitude and archaic policies have made Florida less attractive for recruiting workers. Talk about how DeSantis’ is turning off job creators. Bring up how DeSantis’ hostile takeover of higher education will lead to a less capable workforce, eventually driving companies away from Florida to more enlightened states.</p>


        <p><strong>U-Haul Diplomacy:</strong> There are many Florida residents who are disgusted with the direction in which the state is headed. They have had enough of DeSantistan’s radical, know-nothing, rubber stamp legislature. These Floridians are fed up with Little Dic Ron eroding rights and diluting democracy and have sadly concluded that DeSantistan imparts the wrong values to their children.</p>

        <p>Many Floridians are voting with U-Hauls, choosing to exit Florida. When they initially arrived in the Sunshine State, it was a forward-looking, international destination. It celebrated diversity and honored different cultures. Tragically, under Ron DeSantis the state has rapidly declined. Instead of progressive, they find it increasingly regressive – looking more like its Deep South neighbors, Georgia and Alabama.  These forlorn Floridians no longer recognize their beloved state and find they are strangers in their own land.</p>

        <div class="image-container"> <img src="https://i.postimg.cc/02s4dq07/take-action-img3.jpg" alt=""></div>


        <p>If unbridled right-wing extremism has caused you to move away from Florida – or you’re in the process of contemplating an exit strategy--use social media to inform people, why you left DeSantistan. Contact news reporters and explain why continuing to live in Florida is no longer a viable option. Additionally, it’s necessary to warn people who are considering a Florida relocation, that Florida has drastically changed. Their perception of the state may not match the reality under Ron’s reign. </p>

        <p><strong>Join an Organization:</strong> There are many organizations fighting Little Dic Ron who need volunteers and donors. You can’t be in the game if you’re on the sidelines. Get up and get involved! Don’t wait for others to do the work. You can be the change! Check out our list of recommended organizations below. Find an organization that best suits your talents and needs. Together, we can have an impact and make a significant difference.</p>

        <p><strong>Vote:</strong> This problem started with politics and will end with voting the bums out of office. Register to vote and don’t forget to show up at the polls. If we want to regain our leverage, we must pull the lever in the voting booth. We are the majority and it’s time we organize, mobilize and take back our state. We can’t allow the state to be hijacked by fanatics and frauds. Your vote is your voice – use it wisely.</p>


        <p><strong>Donate:</strong> Help finance the organizations leading the fight. You can donate directly to us on this site or contribute to your favorite organization or political candidate. If you have the means, open your wallet or purse and give generously. If you don’t have ample resources, give what you can. In the fight to save Florida, even a little can go a long way. It all adds up and gives us the war chest necessary to win this battle against backwardness, bigotry and barbarism.</p>

        <p>Let’s commit to doing everything in our power to rid Florida of extremism and return it to excellence. The first step is getting rid of Little Dic Ron and the authoritarian movement he represents. We envision a Florida with a fabulous future, instead of one that is fascist. We picture the end of DeSantistan and the recreation of a state that epitomizes decency, dignity and democracy. </p>


        <p>To make our vision a reality, each of us must do our part and vigorously fight for freedom. If we tirelessly work together, we can save our state from Ron’s ruin and create the sunny paradise we deserve.</p>
      </article>
        a.agenda-main-link(href="/HTML/index.html")
            .read-more-button Read More+
    <article class="main-take-action__organitations-1">
        <h1>Organizations </h1>
        <div class="organitations-content__1">
            <h2>Little Dic Ron</h2>
            <a href="https:www.LittleDicRon.com "> www.LittleDicRon.com </a>
            <p>LittleDicRon@gmail.com</p>

        </div>
        <div class="organitations-content__2">
            <h2>Equality Florida </h2>
            <a href="www.eqfl.org"> www.eqfl.org </a>
            <p>813-870-3735 </p>
        </div>
        <div class="organitations-content__3">
            <h2>ACLU of Florida </h2>
            <a href="www.aclufl.org ">www.aclufl.org  </a>
            <p>acluflonline@aclufl.org</p>
        </div>
        <div class="organitations-content__4">
            <h2>NAACP </h2>
            <a href="http://www.flnaacp.com ">http://www.flnaacp.com  </a>
            <p>407-843-5320 </p>
            <p>4info@FLNAACP.com</p>
        </div>
        <div class="organitations-content__5">
            <h2>Northside Coalition of Jacksonville</h2>
            <a href="www.northsidecoalitionofjacksonville.com"> www.northsidecoalitionofjacksonville.com </a>
            <p>904-530-1596  </p>
        </div>
        <div class="organitations-content__6">
            <h2>Florida Immigrant Coalition </h2>
            <a href="https://floridatraveladvisory.com/  ">https://floridatraveladvisory.com/ </a>
            <p>1-888-600-5762 </p>
        </div>
    </article> 
    include footer 