doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS/style.css")
        title Timeline
    body 
        .timeline 
            .timeline-title 
                img(src="/assets/icons/timeline-title.svg", alt="")
            <iframe src="https://opentextbooks.uregina.ca/hfivep/wp-admin/admin-ajax.php?action=h5p_embed&id=10" width="360" height="626" frameborder="0" allowfullscreen="allowfullscreen" title="Unit 1 Generations Timeline"></iframe><script src="https://opentextbooks.uregina.ca/app/plugins/h5p/h5p-php-library/js/h5p-resizer.js" charset="UTF-8"></script>