@import "_globals.scss";

main {
    background-color: $color-primario;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}
.inactive{
    display: none;
}
.main-agenda-container{
    width: 100%;
    background-color: $color-terciario;
    margin: 0 auto;
    height: 570px;
    padding-top: 20px;
    display: grid;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 28px;
}
.main-agenda-container img:nth-child(1){
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.agenda-main-link{
    text-decoration: none;
    margin: 0 auto;
}

.read-more-button{
    color: $color-terciario;
    font-size: 1.8rem;
    font-family: $title;
    background-color: $color-secunario;
    width: 162px;
    height: 35px;
    padding: 0px;
    margin: 50px auto 20px auto;
}
.read-more-button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #171b24;
    top:0;
    left:0;
    z-index:-1;
    transition: transform 200ms ease-in;
  }
  
  .read-more-button::after{
    transform: scaleX(0);
    transform-origin:left;
  }
  
  .read-more-button:hover::after{
    transform: scaleX(1);
    transform-origin:right;
  }
@media (min-width: 768px)and (max-width:959px){
    .title-bicolor{
        width: min-content;
        height: min-content;
        img {
            width: 300px;
        }
    }
    .main-agenda-container{
        height: 1200px;
        img {
            width: 600px;
        }
    }
    .read-more-button{
        width: 300px;
        height: 60px;
        font-size: 2.8rem;
    }
}
@media (min-width: 960px) {
    .title-bicolor img{
        width: 350px;
        height: 80px;
    }
    .main-agenda-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .main-agenda-container img:nth-child(1){
        display: none;
    }
    .main-agenda-container img:nth-child(2){
        display: block;
        max-width: 700px;
        height: 100%;
    }
    .main-agenda-container img:nth-child(3){
        width: 40%;
        height: 90%;
        margin-left: 10%;
    }
    .agenda-main-link{
        position: relative;
        top: -6%;
        height: min-content;
        width: 100%;
    }
    .read-more-button{
        color: $color-terciario;
        font-size: 3.8rem;
        font-family: $title;
        background-color: $color-secunario;
        width: 262px;
        height: 65px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
