@import "_globals.scss";
.logo-container {
  width: 27%;
  height: 86px;
  margin-bottom: 20px;
}
.logo-container .logo{
    width: 100%;
    height: 100%;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: $color-secunario;
  color: $color-terciario;
  height: 100px;
  padding: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-family: $title;
  font-weight: bolder;
  font-size: 6.5rem;
}
.donate{
  background: $color-primario;
}
.menu li {
  padding: 12px;
}
.menu li:hover{
  background-color: #751e1e;
  border-radius: 4px;
  height: auto;
  width: 100%;
}
.menu > a {
  margin: 0 1rem;
  overflow: hidden;
  text-decoration: none;
  color: $color-terciario;
}


.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: $color-terciario;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 767px) {
  .top-nav{
    height: 46px;
    padding: 3em;
  }
  .logo-container {
    width: 45%;
    height: 28px;
    margin-bottom: 10px;
  }
  .logo-container .logo{
    width: 100%;
    height: 28px;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 55px;
    left: 45%;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .menu li:hover{
    background-color: $color-secunario;
    border-radius: none;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  #menu-toggle ~ .menu a{
    height: 0;
    width: 120px;
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    border: none;
    height: 45px;
    width: 120px;
    font-size: 2.4rem;
    padding: 5px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color:  rgba(0, 0, 0, 0.52);;
    text-decoration: none;
    color: $color-terciario;
  }
  .menu a:hover{
    background-color: $color-secunario;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid $color-secunario;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .logo-container{
    margin-bottom: 0;
  }
  .logo-container .logo{
    width: 300px;
    height: 90%;
  }
  .top-nav{
    height: 80px;
  }
  .menu-button-container {
    display: flex;
    width: 50px;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 90px;
    left: 50%;
    flex-direction: column;
    width: 75%;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .menu li:hover{
    background-color: $color-secunario;
    border-radius: none;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .menu-button{
    width: 50px;
    height: 4px;
    margin-bottom: 15px;
  }
  .menu-button::after{
    height: 4px;
    width: 50px;
    margin-top: 12px;
  }
  .menu-button::before{
    height: 4px;
    width: 50px;
    margin-top: 24px;
}
  #menu-toggle ~ .menu a{
    height: 0;
    width: 120px;
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    border: none;
    height: 60px;
    width: 180px;
    font-size: 4rem;
    padding: 5px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color:  rgba(0, 0, 0, 0.52);;
    text-decoration: none;
    color: $color-terciario;
  }
  .menu a:hover{
    background-color: $color-secunario;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid $color-secunario;
  }
}
