@import "_globals.scss";
@import "_header.scss";
.inactive{
    display: none;
}
.main-container{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primario;
}

.image-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: max-content;
    height: max-content;
    margin: 20px auto;
}
.image-container img {
    width: 290px;
    height: 211px;
    
}
.quotes {
    width: auto;
    height: 280px;
}
.text-container {
    color: $color-terciario;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.text-container h1 {
    text-align: center;
    font-size: 2.4rem;
    font-family: $title;
    margin-bottom: 18px;
}
.text-container cite{
    background-color: #3f4e6a;
    font-size: 1.6rem;
    line-height: 2rem;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px;
}
.text-container h2{
    text-align: center;
    font-size: 1.8rem;
    font-family: $title;
    font-style: italic;
    font-weight: 100;
}
.text-container p {
    font-family: $articles;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 4rem 0;
    line-height: 2.5rem;
}
.text-container a {
    color: #6a86f5;
    text-decoration: underline;
    font-size: inherit;
    font-weight: bolder;
    cursor: pointer;
}
.tiktok-container {
    width: 80%;
    display: flex;
    justify-content: center;
}

iframe{
    border-radius: 10px;
} 
a{
    text-decoration: none;
}
.read-more-button{
    color: $color-terciario;
    font-size: 1.8rem;
    font-family: $title;
    background-color: $color-secunario;
    width: 162px;
    height: 35px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
@media(min-width: 760px){
    .image-container{
        width: max-content;
        height: max-content;
    }
    .image-container img{
        width: 490px;
        height: 411px;
    }
    .text-container .title {
        font-size: 3.4rem;
    }
    .text-container cite {
        font-size: 2rem;
    }
    .text-container h2{
        font-size: 2.5rem;
    }
    .text-container p {
        font-size: 2.3rem;
        line-height: 3rem;
    }
    .read-more-button{
        width: 250px;
        font-size: 2.5rem;
        height: 50px;
    }
}
@media (min-width: 960px) {
    .image-container {
        margin-bottom: 50px ;
        width: 80%;
        height: min-content;
    }
    .image-container img{
        width: 642px;
        height: 411px;
    }
    .text-container .inactive {
        display: flex;
        justify-content: center;
        font-size: 4.8rem;
        margin-top: 30px;
    }
    .text-container{
        text-align: center;
        width: 75%;
    }
    .text-container .title {
        display: none;
    }
    .text-container h2{
        font-size: 3.5rem;
    }
    .text-container cite{
        width: 80%;
        font-size: 2.3rem;
        
    }
    .text-container p {
        text-align: left;
        font-size: 2.7rem;
        line-height: 3.5rem;
    }
}