@import "_globals.scss";
@import "_header.scss";
main {
    background-color: $color-primario;
    height: 100%;
    padding-bottom: 25px;
}
.title-container{
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.main-container{
   width: fit-content;
   display: grid;
   margin: 0 auto;
   justify-items: center;
   grid-template-columns: minmax(300px, 600px);
   grid-template-rows: minmax(140px, 210px);
}
.agenda-image{
    width: 95%
}
.agenda-note{
    width: 95%;
}

.galery-container{
    display: grid;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    overflow: hidden;
    gap: 15px;
    
}
.galery-container .galery-items {
    min-width: none;
    min-height: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galery-container .galery-items:hover{
    filter: grayscale(1);
}

@media(min-width: 760px){
    .title-container img{
        width: 300px;
    }
    .main-container{
        grid-template-rows: minmax(140px, 310px);
    }
}
@media(min-width: 960px){
    main{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
    .title-container{
        width: 100%;
        margin: 50px 0;
    }
    .title-container img{
        width: 30%;
    }
    .main-container {
        margin: 0;
        width: 45%;
    }
    .galery-container{
        gap: 20px;
        width: 45%;
        grid-template-columns: repeat(3, minmax(50px, 300px));
        grid-template-rows:repeat(5, min-width(10px))
    }
    .galery-container .galery-items {
        min-width: none;
        min-height: 100px;
    }
}
