@import "_globals.scss";
@import "_header.scss";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body{
    background-color: $color-primario;
}
.main-container{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primario;
}
.image-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    height: 164px;
    margin: 36px 0 28px 0;
}
.image-container img {
    width: 100%;
    height: 100%;
}
.text-container {
    color: $color-terciario;
    width: 80%;
    margin: 0 auto;
}
.text-container h1 {
    text-align: center;
    font-size: 2.4rem;
    font-family: $title;
    margin-bottom: 18px;
}
.text-container p {
    font-family: $articles;
    font-size: 1.4rem;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.read-more-button{
    color: $color-terciario;
    font-size: 1.8rem;
    font-family: $title;
    background-color: $color-secunario;
    width: 162px;
    height: 35px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 120px;
}