<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/components/agenda.css">
    <title>Agenda</title>
</head>
<body>
    <section class="agenda">
        <main>
            <div class="title-container">
                <img class="title" src="/assets/images/agenda-title.png" alt="title little dic ron agenda">
            </div>
        <div class="main-container">
            <img src="https://i.postimg.cc/MpSCdW62/agenda-main.png" alt="Ron Desantis as dictator">
            <img class="agenda-note" src="https://i.postimg.cc/zDVMSxhr/fascis-agenda.png" alt="">
        </div>
        <div class="galery-container">
            <a href="/HTML/components/agenda-abortion.html">
                <img src="https://i.postimg.cc/MHcxmY8p/Card-1.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/anti-semitism.html">
                <img src="https://i.postimg.cc/rp80cz4N/Card-2.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/license-to-kill.html">
                <img src="https://i.postimg.cc/prg9fT43/Card-3.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/business-busybody.html">
                <img src="https://i.postimg.cc/43vHtV6c/Card-4.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/censorship.html">
                <img src="https://i.postimg.cc/FHXd1YjL/Card-5.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/destroying-democracy.html">
                <img src="https://i.postimg.cc/PxJN0YkB/Card-6.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/eating-habits.html">
                <img src="https://i.postimg.cc/c4ntsR8W/Card-7.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/education-abyss.html">
                <img src="https://i.postimg.cc/8C17BxXk/Card-8.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/god-complex.html">
                <img src="https://i.postimg.cc/K87KTmNs/Card-9.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/groomer-ron.html">
                <img src="https://i.postimg.cc/053JRWjZ/Card-10.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/healthcare-and-covid.html">
                <img src="https://i.postimg.cc/tg2YrD83/Card-11.png" alt="" class="galery-items">
            </a><a href="/HTML/components/lgbtq-obsession.html">
                <img src="https://i.postimg.cc/76Rb4hHb/Card-12.png" alt="" class="galery-items">
            </a>
            <a href="/HTML/components/rons-racism.html">
                <img src="https://i.postimg.cc/0jJjyvjn/Card-13.png" alt="" class="galery-items">
            </a>
        </div>
        </main>
    </section>
</body>
</html>