<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/components/agenda-items.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>agenda-items</title>
  </head>
  <body> </body>
</html>
<body> 
  <div class="main-container"> 
    <div class="image-container"> <img src="https://i.postimg.cc/vT2V6twz/censorship.png"/></div>
    <article class="text-container"> 
      <h1>CENSORSHIP</h1>
      <p>Florida Republican Gov. Ron DeSantis fired Jacksonville Middle School teacher Brian Covey. The reason for his dismissal? Covey blew the whistle on DeSantis’ War on Books.Covey used his phone to film a viral video of empty school library bookshelves. </p><br/><br/>
      <p>These books are missing because they are being reviewed by zealous right-wing censors. There are roving teams of extremists in Florida called “woke busters” that are hunting school libraries for books to ban. In Duval.</p>
    </article><a href="/HTML/components/agenda.html"> 
      <div class="read-more-button">Read More+</div></a>
  </div>
</body>