<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/components/destroying-democracy.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>Destroying-democracy</title>
</head>
<body>
    <div class="main-container">
          <div class="image-container">
              <img src="https://i.postimg.cc/QNJRDr4J/destroying-democracy.png" alt="people with signs protesting">
          </div>
          <article class="text-container">
            <h1>DESTROYING DEMOCRACY</h1>
            <P>
                Little Dic Ron is shorthand for Little Dictator. We have given Florida the moniker “DeSantistan” to highlight how Ron DeSantis mistakenly believes the Sunshine State is his private fiefdom. He acts as though DeSantistan is separate from the rest of America and doesn’t have to follow the United States Constitution. He’s wrong. <br> <br>

                Ron DeSantis has repeatedly demonstrated a disdain for democracy. Florida State Sen. Lori Berman articulated this when she pointed out that in DeSantistan, “There is no room for dissent. Not in local governments
            </P>
          </article>
          <a href="/HTML/components/agenda.html">
            <div class="read-more-button">Read More+</div>
        </a>
    </div>
</body>
</html>