<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/components/agenda-items.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>agenda-items</title>
  </head>
  <body> </body>
</html>
<body> 
  <nav class="top-nav">
    <div class="logo-container"><img class="logo" src="/assets/icons/logo1.svg" alt=""></div>
    <input id="menu-toggle" type="checkbox">
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <ul class="menu"><a href=""> 
        <li>About</li></a><a href="/HTML/index.html#agenda-main"> 
        <li>Agenda</li></a><a href="">    
        <li>Donate</li></a><a href="">    
        <li>Take Action</li></a><a href=""> 
        <li>Shop</li></a></ul>
  </nav>
  <div class="main-container"> 
    <div class="image-container"> <img src="https://i.postimg.cc/9M3vmXHJ/eating-habits.png"/></div>
    <article class="text-container"> 
      <h1>EATING HABITS</h1>
      <p>One of the most surreal and head-scratching discoveries about Florida Gov. Ron DeSantis is what the New Yorker politely called his “indifferent table manners.” The Daily Beast wasn’t so circumspect. They reported that DeSantis had a “propensity to devour food during meetings.”</p><br/><br/>
      <p>The Daily Beast interviewed a former staffer who said, “He would sit in meetings and eat in front of people, always like a starving animal who has never eaten before… getting shit everywhere.”</p>
    </article><a href="/HTML/components/agenda.html"> 
      <div class="read-more-button">Read More+</div></a>
  </div>
</body>