<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/components/agenda-items.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>agenda-items</title>
  </head>
  <body> </body>
</html>
<body> 
  <div class="main-container"> 
    <div class="image-container"> <img src="https://i.postimg.cc/sgv85GVT/education-abyss.png"/></div>
    <article class="text-container"> 
      <h1>EDUCATION ABYSS</h1>
      <p>Little Dic Ron is so obsessed with frivolous culture war issues to boost his political career, that he forgets that Florida was ranked as the state with the worst learning rate in America. Students learn 12% less each grade than the national standard. Florida Chamber President and CEO Mark Wilson said only 53 percent of Florida third graders are reading at or above grade level. </p><br/><br/>
      <p>The governor has wrecked K-12 education. A survey by the group We the Parents found teachers leaving Florida at a rate higher than any other states, with 6,000 vacancies statewide, and 61% considering</p>
    </article><a href="/HTML/components/agenda.html"> 
      <div class="read-more-button">Read More+</div></a>
  </div>
</body>