<footer>
<div class="footer__logo-container"><img class="logo" src="/images/logo.png" alt=""></div>
<a href="/HTML/Components/About_us.html"><button class="about-us__button">About Us </button></a>
<ul class="footer-grid-redes__1">
<li><a href="https://www.tiktok.com/@thewaynebesenshow"><img src="/images/redes/Recurso 1.svg"></img></a></li>
<li><a href="https://www.instagram.com/thewaynebesenshow/"><img src="/images/redes/red-2.svg"></img></a></li>
<!--<li><a url=""><img src="/images/redes/red-3.svg"></img></a></li>--> 
<li><a href="https://www.youtube.com/channel/UCxo2tzg0fYecew5VgShbFTQ"><img src="/images/redes/red-4.svg"></img></a></li>  
</ul> 
<a href="https:www.LittleDicRon.com "> LittleDicRon@gmail.com</a>
<cite>Copyright 2023 - www.littledicron.com</cite>
</footer>