<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/components/god-complex.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>God-complex</title>
</head>
<body>
    <div class="main-container">
          <div class="image-container">
              <img src="https://i.postimg.cc/Xq4m52J5/god-complex.png" alt="Ron DeSantis at a press conference">
          </div>
          <article class="text-container">
            <h1>GOD COMPLEX</h1>
            <P>
                Florida Governor Ron DeSantis’ released a terrifying ad that portrays a deeply disturbed man with a savior complex. In the ad, he portrays himself as a blunt instrument of God. <br> <br>

                This is the most egotistical, self-aggrandizing, quite frankly, dangerous, political ad possibly ever produced. There is nothing scarier than a narcissistic politician who imagines himself a messiah or thinks he’s a prophet. Such thinking is usually associated with deranged cult leaders.
            </P>
          </article>
          <a href="/HTML/components/agenda.html">
            <div class="read-more-button">Read More+</div>
        </a>
    </div>
</body>
</html>