<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/components/groomer-ron.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>Groomer-ron</title>
</head>
<body>
    <div class="main-container">
          <div class="image-container">
              <img src="https://i.postimg.cc/7LzWWvJ7/groomer-ron.png" alt="Youg Ron DeSantis with other people">
          </div>
          <article class="text-container">
            <h1>GROOMER RON</h1>
            <P>
                On Truth Social Donald Trump attacked Florida Gov. Ron DeSantis as a “groomer” of young students. The former President showed an incriminating picture, first published by Hill Reporter, of Ron DeSantis surrounded by young high school girls, including one who was holding a beer bottle. <br><br>

                At the time of the photo, DeSantis was a 23-year-old teacher at the Darlington School, a private institution in Rome, Georgia. The photo in question has text over it reading, "Here is Ron DeSanctimonious grooming high school girls with alcohol as a teacher."
            </P>
          </article>
          <a href="/HTML/components/agenda.html">
            <div class="read-more-button">Read More+</div>
        </a>
    </div>
</body>
</html>