<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/components/agenda-items.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>agenda-items</title>
  </head>
  <body> </body>
</html>
<body> 
  <div class="main-container"> 
    <div class="image-container"> <img src="https://i.postimg.cc/85V08yLY/heathcare-and-covid.png"/></div>
    <article class="text-container"> 
      <h1>HEALTHCARE AND COVID</h1>
      <p>Under Governor DeSantis, Florida is a healthcare nightmare. The state is ranked 39 for overall healthcare, while 47th in the U.S. for the highest uninsured population. Florida ranked third in number of abortions and ranked 27 in infant mortality and 29th in gun deaths. [Yet, DeSantis wants Floridians focused on drag queens] While many low-information Floridians celebrated DeSantis’ lax Covid policies, more than 82,000 Florida residents have died from the coronavirus since the beginning of the pandemic. This is hardly a record to be proud of.</p><br/><br/>
      <p>Many Floridians don’t call him “Gov. Death Sentence” or “DeathSantis” for nothing.The Tampa Tribune reports that, “there are studies that suggest the state could have prevented thousands of those deaths…It’s easy to dismiss the numbers…but they represent deaths, real people who really died from COVID.”</p><br/><br/>
      <p>These days, Gov. DeSantis and his Surgeon General, Joseph Ladapo, rarely mention COVID vaccines or allude to the pandemic, even as it continues to kill scores of Floridians every day. Not surprisingly, Ladapo was investigated by the Florida Department of Health’s Inspector General for allegations of “scientific fraud” and “Manipulated data” for a report he wrote about the efficacy of COVID vaccines.</p>
    </article><a href="/HTML/components/agenda.html"> 
      <div class="read-more-button">Read More+</div></a>
  </div>
</body>