<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/components/agenda-items.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>agenda-items</title>
  </head>
  <body> </body>
</html>
<body> 
  <div class="main-container"> 
    <div class="image-container"> <img src="https://i.postimg.cc/pTY1PDZL/lgbtq-obsession.png"/></div>
    <article class="text-container"> 
      <h1>LGBTQ OBSESSION</h1>
      <p>Little Dic Ron has a weird obsession with gay, lesbian, bisexual and transgender people. Instead of addressing Florida’s multitude of serious problems, Little Dic Ron spends a disproportionate amount of his time harassing and scapegoating LGBTQ youth and drag queens.“They’re now using intimidation and threats of misdemeanor charges to scare LGBTQ-friendly cities out of hosting drag altogether,” wrote former Rep. Carlos Guillermo Smith on Twitter.</p><br/><br/>
      <p>DeSantis piously frames his anti-LGBTQ attacks as efforts to protect Florida’s children. In fact, there is an unconstitutional piece of legislation to crack down on gay pride parades named the “Protection of Children Bill”. However, the governor’s reprehensible record on children’s safety tells a radically different story.</p><br/><br/>
      <p>The Department of Children and Families, which was created to help youth that have suffered abuse, abandonment, or neglect, reports “unacceptably high vacancy rates” and surging numbers of investigators leaving the job</p>
    </article><a href="/HTML/components/agenda.html"> 
      <div class="read-more-button">Read More+</div></a>
  </div>
</body>