<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/components/agenda-items.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>agenda-items</title>
  </head>
  <body> </body>
</html>
<body> 
  <nav class="top-nav">
    <div class="logo-container"><img class="logo" src="/assets/icons/logo1.svg" alt=""></div>
    <input id="menu-toggle" type="checkbox">
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <ul class="menu"><a href=""> 
        <li>About</li></a><a href="/HTML/index.html#agenda-main"> 
        <li>Agenda</li></a><a href="">    
        <li>Donate</li></a><a href="">    
        <li>Take Action</li></a><a href=""> 
        <li>Shop</li></a></ul>
  </nav>
  <div class="main-container"> 
    <div class="image-container"> <img src="https://i.postimg.cc/BbS7bXYc/rons-racism.png"/></div>
    <article class="text-container"> 
      <h1>RON’S RACISM</h1>
      <p>Where does Ron DeSantis’ glaring hostility to African American history come from? Well, when DeSantis was 23, he taught history for one year at the Darlington School, a private institution in Rome, Georgia. DeSantis made quite an impression. A former student, Danielle Pompey, recalls that during class, DeSantis taught Civil War history in a way that sounded like an attempt to justify slavery. </p><br/><br/>
      <p>According to Pompey: “Like in history class, he was trying to play devil’s advocate that the South had good reason to fight…he was trying to say, ‘It’s not OK to own people, but they had property, businesses.’” Yes, there were business concerns – unfortunately, the property in question was people.</p><br/><br/>
      <p>That Ron DeSantis saw trafficking human beings as a legitimate business concern worthy of fighting a civil war is revealing, and alarming, considering he wants to be president. Pompey claimed that DeSantis treated her poorly because of her race. “Ron, Mr. DeSantis, was mean to me and hostile toward me. Not aggressively, but passively, because I was Black.” The New York Times reports DeSantis was so obsessed with historical revisionism that students made a satirical video about his Civil War preoccupation for the video yearbook. According to The Times:</p>
    </article><a href="/HTML/components/agenda.html"> 
      <div class="read-more-button">Read More+</div></a>
  </div>
</body>