<section class="section">
<div class="slider">
<div class="slide">
<input type="radio" name=" radio-btn" id="radio1">
<input type="radio" name=" radio-btn" id="radio2">
<input type="radio" name=" radio-btn" id="radio3">
<input type="radio" name=" radio-btn" id="radio4">
<div class="st first">
<img src="https://i.postimg.cc/mk7dHHFc/tshirtA.png" alt="">
</div>
<div class="st">
<img src="https://i.postimg.cc/Kvrqct2w/tshirtB.png" alt="">
</div>
<div class="st">
<img src="https://i.postimg.cc/jSx8DCq5/tshirtC.png" alt="">
</div>
<div class="st">
<img src="https://i.postimg.cc/d19fNWNw/lgbtq-obsession.png" alt="">
</div>
<div class="nav-auto">
<div class="a-b1"></div>
<div class="a-b2"></div>
<div class="a-b3"></div>
<div class="a-b4"></div>
</div>
</div>
<div class="nav-m">
<label for="radio1" class="m-btn"></label>
<label for="radio2" class="m-btn"></label>
<label for="radio3" class="m-btn"></label>
<label for="radio4" class="m-btn"></label>
</div>
</div>
</section>
<script src="/HTML/script.js"> </script>