
<div class="shop-container">
  <h1 class="title">SHOP</h1>
  <div class="carousel">
    <button class="carousel__button--left carousel__button"> <img src="/assets/icons/Arrow 1.svg" alt=""/></button>
    <div class="carousel__track-container">
      <ul class="carousel__track">
        <li class="carousel__slide current-slide"><img class="carousel__image" src="https://i.postimg.cc/mk7dHHFc/tshirtA.png" alt=""/></li>
        <li class="carousel__slide"><img class="carousel__image" src="https://i.postimg.cc/Kvrqct2w/tshirtB.png" alt=""/></li>
        <li class="carousel__slide"><img class="carousel__image" src="https://i.postimg.cc/jSx8DCq5/tshirtC.png" alt=""/></li>
      </ul>
    </div>
    <button class="carousel__button--rigth carousel__button"><img src="/assets/icons/Arrow 2.svg" alt=""/></button>
    <div class="carousel__nav"> 
      <button class="carousel__indicator current-slide"> </button>
      <button class="carousel__indicator"> </button>
      <button class="carousel__indicator"></button>
    </div>
    <script src="/PUG/components/shop.js"> </script>
  </div>
</div>