<article class="main_take__action">
<h1>TAKE<strong id="strong_character__action">ACTION</strong></h1>
<img src="https://i.postimg.cc/hPKHFh6Z/Getty-Images-1246703149.webp" alt="noticia 1"></a>
<p><strong>Resist and Defy:</strong> Florida is not owned by Ron DeSantis. It is not his private fiefdom that he can transform into the authoritarian backwater of DeSantistan. The governor wants Floridians to believe he is all-powerful and that we must follow his illegal orders. DeSantis wants you silenced and submissive – while he hard sells the idea that he calls all the shots...</p>
<a href="/HTML/index.html">
<button class="read-more-button">Read More+ </button></a>
</article>