include components/head-index 
body
    include components/header
    section#homepage
    section#agenda-main 
        include components/agenda-main
    section#shop
        include components/shop