include components/head-index 
body
    include components/header
    section#about
        include components/meet
    section#agenda-main 
        include components/agenda-main
    section#shop
        include components/shop
    section#timeline 
        include components/timeline
    section#take-action 
        include components/take-action-main
    include components/footer
