*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    --color-primario: #1D2944;
}
main {
    background-color: var(--color-primario);
    height: 100%;
    padding-bottom: 25px;
}
.title-container{
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.main-container{
   width: min-content;
   display: grid;
   margin: 0 auto;
   grid-template-columns: 100%;
   grid-template-rows: minmax(140px, 150px);
}
.main-container :nth-child(1){
    margin: 0 auto;
}
.galery-container{
    display: grid;
    width: min-content;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    overflow: hidden;
    gap: 15px;
    
}
.galery-container .galery-items {
    min-width: 140px;
    max-height: 142px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
