* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: #1D2944;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: #1D2944;
}

.logo-container .logo {
  width: 100%;
  height: 28px;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #D22628;
  color: #FFFFFF;
  height: 46px;
  padding: 3em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.menu > a {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #FFFFFF;
  position: absolute;
  height: 2px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media (max-width: 480px) {
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 55px;
    left: 45%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    width: 120px;
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    border: none;
    height: 32px;
    width: 120px;
    font-size: 2.4rem;
    padding: 5px;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.52);
    text-decoration: none;
    color: #FFFFFF;
  }
  .menu a:hover {
    background-color: #D22628;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #D22628;
  }
}
@media (min-width: 768px) {
  .logo-container .logo {
    width: 300px;
    height: 90%;
  }
  .top-nav {
    height: 80px;
  }
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 90px;
    left: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-button {
    width: 50px;
    height: 4px;
    margin-bottom: 15px;
  }
  .menu-button::after {
    height: 4px;
    width: 50px;
    margin-top: 12px;
  }
  .menu-button::before {
    height: 4px;
    width: 50px;
    margin-top: 24px;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    width: 120px;
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    border: none;
    height: 60px;
    width: 180px;
    font-size: 4rem;
    padding: 5px;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.52);
    text-decoration: none;
    color: #FFFFFF;
  }
  .menu a:hover {
    background-color: #D22628;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #D22628;
  }
}
.main-container {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1D2944;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 80%;
  height: 164px;
  margin: 36px 0 28px 0;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.text-container {
  color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
}

.text-container h1 {
  text-align: center;
  font-size: 2.4rem;
  font-family: "Oswald", sans-serif;
  margin-bottom: 18px;
}

.text-container cite {
  background-color: rgb(63, 78, 106);
  font-size: 1.4rem;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.text-container h2 {
  text-align: center;
  margin: 10px 0 20px 0;
  font-size: 1.8rem;
}

.text-container p {
  font-family: "Zilla Slab", serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 4rem 0;
  line-height: 1.8rem;
}

.text-container a {
  color: #FFFFFF;
  text-decoration: underline;
  font-size: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.read-more-button {
  color: #FFFFFF;
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif;
  background-color: #D22628;
  width: 162px;
  height: 35px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

@media (min-width: 480px) {
  .image-container {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .text-container h1 {
    font-size: 3.4rem;
  }
  .text-container cite {
    font-size: 1.8rem;
  }
  .text-container h2 {
    font-size: 2.5rem;
  }
  .text-container p {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }
  .read-more-button {
    width: 250px;
    font-size: 2.5rem;
    height: 50px;
  }
}